<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Brooke Santiago - Sound Design & Engineer </title>
    <link rel="stylesheet" href="../static/styles/Portfolio.css">
</head>

<div id="html-content">
    <header>
        <div id="navigation-bar">
			<div id="logo-menu">
				<div id="logo">
                    <img src="../../static/images/logo.jpg" alt="">
                    <div id="page-name">
                        <a href="../home.html">Home</a>
                    </div>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="./template/About.html">About</a></li>
                    <li><a href="./template/Portfolio.html">Portfolio</a></li>
                    <li><a href="./template/Experience.html">Experience</a></li>
                    <li><a href="./template/Connect.html">Connect</a></li>
                </ul>
                <div id="hamburger-icon" onclick="toggleMenu()">☰</div>
            </div>
        </div>
    </header>

    <body>
        
    </body>

<div id="footer-bottom">
    <div id="social-icons">
        <div>
            <a href="">
                <img
                    src="../static/images/logos/77364-instagram-icons-computer-black-logo-white-wine.svg"
                    alt="Brooke Santiago - Instagram"
                />
            </a>
        </div>
        <div>
            <a href="">
                <img
                    src="../static/images/logos/iconmonstr-facebook-6.svg"
                    alt="Brooke Santiago - Facebook"
                />
            </a>
        </div>
        <div>
            <a href="">
                <img
                    src="../static/images/logos/linkedin-svgrepo-com.svg"
                    alt="Brooke Santiago - LinkedIn"
                />
            </a>
        </div>
    </div>
    <div id="copyright-section">
        <h1>Brooke Santiago</h1>
        <p>
            Copyright 2024
            <br />
            <a href="#">Chigekwu Chukwuezi.</a>
        </p>
    </div>
</div>
</footer>

</div>