* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Easy-Grotesk-Black";
    src: url("../fonts/EasyGrotesk/Easy-Grotesk-Black-Demo-BF653883937b855.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-ExtraBlack";
    src: url("../fonts/Wanted/WantedSans-ExtraBlack-BF65baf133c4859.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-Black";
    src: url("../fonts/Wanted/WantedSans-Black-BF65baf1369b817.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-ExtraBold";
    src: url("../fonts/Wanted/WantedSans-ExtraBold-BF65baf137317a5.otf");
}

@font-face {
    font-family: "Wanted-SemiBold";
    src: url("../fonts/Wanted/WantedSans-SemiBold-BF65baf13722853.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-Bold";
    src: url("../fonts/Wanted/WantedSans-Bold-BF65baf135d5a25.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-Medium";
    src: url("../fonts/Wanted/WantedSans-Medium-BF65baf1388963b.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-Regular";
    src: url("../fonts/Wanted/WantedSans-Regular-BF65baf13579965.otf") format("opentype");
}

@font-face {
    font-family: "Wanted-Variable";
    src: url("../fonts/Wanted/WantedSansVariable-BF65baf13a24667.ttf") format("truetype");
}



#html-content {
    display: flex;
    flex-direction: column;
    gap: 70px;

    overflow-y: auto;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fdfdfd;
    flex-grow: 1;

}

footer {
    flex: none;
}

header {
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;

    width: 100%;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: 
    z-index: 10;
}

/** Header Container **/

#navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo img {
    width: 65px;
    height: 65px;
}

#logo-menu {
    display: flex;
    gap: 30px;
}

#page-name a {
    color: white;
    font-family: Wanted-Regular;

    text-decoration: none;
}

#menu {
    display: flex;
    align-items: center;
    position: relative; 
    z-index: 10;
}

#menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

#menu ul li a {
    color: rgb(255, 255, 255);
    font-family: Wanted-Medium;
    font-size: 16.5px;

    text-decoration: none;
}

#menu ul li a:hover {
    text-decoration: solid underline 1px;
}

/** Header Container Ends **/

